.sectionA {
    background: linear-gradient(120deg,  #3A4660 60%, #E0CE43 60%); /*rgb(231, 206, 81) 60%*/
    font-family: 'Lora', serif;
}

.sectionB {
}

.section {
    padding: 0;
    margin: 0;
}

.columns {
    margin: 0;
}

.column {
    padding: 0;
    display: flex;
    justify-content: center;
}

.containerOne {
    height: 50vh;
    width: 100%;
    color: #3A4660;
}

.containerTwo {  
    height: 50vh;
    width: 100%;
    color: #3A4660;
}

form {
   display: flex;
   justify-content: center;
   margin: 75px 0 0 0;
   border-radius: 5px;
   transition: 100ms ease-in;
   box-shadow: 3px 3px #cfcfcf21;
}

form:hover {
    transform: scale(1.005);
    box-shadow: 10px 10px #cfcfcf60;
}

#inputSearch {
    padding: 0 200px 0 200px;
    border-top-left-radius: 5px #efefef;
    border-bottom-left-radius: 5px #efefef;
    border-right: solid 4px #efefef;
    border-left: solid 4px #efefef;
    background-color: #3A466000;
    border-top: solid 4px #efefef;
    border-bottom: solid 4px #efefef;
    color: #efefef;
}

#buttonSearch {
    margin-left: -4px;
    padding: 0 10px 0 10px;
    font-size: 25px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #efefef;
    color: #3A4660;
    border-left: solid 4px #efefef;
    font-family: 'Lora', serif;
}

#header {
    display: flex;
}

#logo {
    background-color:  #efefef;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    /* margin: 153px 60px 0 60px; */
    margin-top: 153px;
    box-shadow: 4px 4px #cfcfcf21;
    transition: 100ms ease-in;
}

#logo:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px #cfcfcf60;
}

.logo {
  text-decoration: none;
  color: #3A4660;
}

.logo:hover {
  text-decoration: none;
  color: #3A4660;
}

p {
    color: #efefef;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px #cfcfcf2d;
}

/* #recipeArea {
  display: flex;
} */

.breadcrumb {
  margin-top: 185px;
  font-style: none;
  color: #efefef;
  font-size: 18px;
}

#link1 {
  text-decoration: none;
  color: #efefef;
  transition: 100ms ease-in;
}

#link2 {
  text-decoration: none;
  color: #efefef;
  transition: 100ms ease-in;
}

#link1:hover {
  text-decoration: none;
  color: rgb(231, 206, 81);
  transform: scale(1.05);
}

#link2:hover {
  text-decoration: none;
  color: rgb(231, 206, 81);
  transform: scale(1.05);
}

 .ham {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    margin-top: 150px;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#efefef;
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham5 .top {
    stroke-dasharray: 40 82;
  }

  .ham5 .bottom {
    stroke-dasharray: 40 82;
  }

  .ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }

  .ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
