body, html {
    /* background: linear-gradient(to left, #3A4660, rgb(84, 92, 110)); */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-family: 'Lora', serif;
}

.section {
    padding: 0;
    margin: 0;
}

.columns {
    margin: 0;
}

.column {
    padding: 0;
    display: flex;
    justify-content: center;
}

.containerOne {
    height: 50vh;
    width: 100%;
    color: #ffffff;
}

.containerTwo {  
    height: 50vh;
    width: 100%;
    color: #ffffff;
}

form {
   display: flex;
   justify-content: center;
   margin: 75px 0 0 0;
   /* color: #ffffff; */
}

#inputSearch {
    padding: 0 200px 0 200px;
    border-top-left-radius: 5px #D6BD51;
    border-bottom-left-radius: 5px #D6BD51;
    border-right: solid 4px #D6BD51;
    border-left: solid 4px #D6BD51;
    background-color: #ffffff00;
    border-top: solid 4px #D6BD51;
    border-bottom: solid 4px #D6BD51;
    color: #ffffff;
}

#buttonSearch {
    margin-left: -4px;
    padding: 0 10px 0 10px;
    font-size: 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #D6BD51;
    color: #ffffff;
    border-left: solid 4px #D6BD51;
    font-family: 'Lora', serif;
}

#header {
    display: flex;
}

#logo {
    background-color:  #D6BD51;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    /* margin: 153px 60px 0 60px; */
    margin-top: 153px;
}

#recipeArea {
  display: flex;
}

 .ham {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    margin-top: 150px;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#D6BD51;
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham5 .top {
    stroke-dasharray: 40 82;
  }

  .ham5 .bottom {
    stroke-dasharray: 40 82;
  }

  .ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }

  .ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
